* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
    font-size: 22px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.title {
    color: #8fb3ff;
    font-family: 'Fredoka';
    letter-spacing: 5px;
}

.description {
    text-align: center;
}

.buttons {
    max-width: 75%;
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 16px;
}

.play-icon {
    background-color: transparent;
    border: none;
    color: #d41d6d;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    width: 125px;
    transition: transform .3s ease;
}

.play-icon:hover,
.play-icon:focus {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px #aaa;
}

.play-icon:focus {
    opacity: 0.7;
}

.play-icon:disabled {
    transform: none;
    cursor: default;
    color: grey;
}

.text {
    width: 50%;
    padding: 50px;
    text-align: center;
    background-color: #ebf1ff;
    border-radius: 10px;
    transition: background-color 1s ease;
}

.counters {
    margin-top: 25px;
}

.scores {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    font-family: 'Fredoka';
    font-size: 24px;
    gap: 16px;
}

.player-score,
.computer-score {
    font-size: 32px;
    color: #d41d6d;
}

.play-again {
    font-size: 28px;
    padding: 15px;
    cursor: pointer;
    font-family: 'Fredoka';
    color: #fff;
    background-color: #d41d6d;
    border-radius: 5px;
    border: transparent;
    transition: transform 0.3s;
}

.play-again:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
    .text {
        width: 75%;
    }

    .buttons {
        flex-wrap: wrap;
        gap: 32px;
    }
}
    