* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
    height: 100%;
}

body {
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #87b0ae;
    font-size: 48px;
    text-align: center;
}

.underline {
    text-decoration: underline wavy 3px #000;
    text-underline-offset: 5px;
}

.description {
    text-align: center;
    padding: 0 20px;
}

.buttons {
    max-width: 75%;
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 16px;
}

.play-icon {
    background-color: transparent;
    border: none;
    color: #5d8e8b;
    background-color: #fff;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    width: 125px;
    transition: transform .3s ease;
}

.play-icon:hover,
.play-icon:focus {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px #aaa;
}

.play-icon:focus {
    opacity: 0.7;
}

.play-icon:disabled {
    transform: none;
    cursor: default;
    color: grey;
    box-shadow: none;
}

.text {
    width: 50%;
    padding: 50px;
    text-align: center;
    transition: background-color 1s ease;
}

.win-message {
    transition: transform .3s ease;
}

.counters {
    margin-top: 25px;
}

.scores {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    gap: 32px;
    color: #87b0ae;
}

.player-score,
.computer-score {
    font-size: 48px;
    padding-top: 16px;
    display: block;
    color: #000;
}


.play-again {
    font-size: 28px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    background-color: #c41c4f;
    border-radius: 5px;
    border: transparent;
    transition: transform 0.3s;
    margin: 50px 0;
}

.play-again:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
    .buttons {
        flex-wrap: wrap;
        gap: 32px;
    }

    .scores {
        flex-wrap: wrap;
    }
}