* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
    font-size: 22px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.title {
    color: #8fb3ff;
    font-family: 'Fredoka';
    letter-spacing: 5px;
}

.description {
    text-align: center;
}

.buttons {
    width: 75vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 16px;
}

.play-icon {
    background-color: transparent;
    border: none;
    color: #d41d6d;
    transition: transform .3s ease;
}

.play-icon:hover,
.play-icon:focus {
    cursor: pointer;
    transform: scale(1.1);
}

.play-icon:disabled {
    transform: none;
    cursor: default;
    color: grey;
}

.text {
    width: 75vw;
    padding: 50px;
    text-align: center;
    background-color: #ebf1ff;
    border-radius: 10px;
}

.counters {
    margin-top: 25px;
}

.scores {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    font-family: 'Fredoka';
    font-size: 24px;
}

.player-score,
.computer-score {
    font-size: 32px;
    color: #d41d6d;
}

.play-again {
    font-size: 28px;
    padding: 15px;
    cursor: pointer;
    font-family: 'Fredoka';
    color: #fff;
    background-color: #d41d6d;
    border-radius: 5px;
    border: transparent;
    transition: transform 0.3s;
}

.play-again:hover {
    transform: scale(1.1);
}